<footer class="container-fluid text-light bg-secondary text-center">
  <div class="row pt-4">
    <div class="col-sm-6">
      <dl>
        <dt>E-post</dt>
        <dd><a href="mailto:team2@connectfour.com" title="Mejla oss!">team2@connectfour.com</a></dd>
        <dd><a href="mailto:team2jobb@connectfour.com" title="Bjuda oss ett jobb!">team2jobb@connectfour.com</a></dd>
      </dl>
    </div>
    <div class="col-sm-6">
      <dl>
        <dt>Telefon</dt>
        <dd><a href="tel:+4612345678">+46 (0)709 - 62 92 76</a></dd>
      </dl>
    </div>
    <div class="col-12">
      <p class="font-italic">Jesper Asplund</p>
    </div>

  </div>
</footer>