<footer class="container-fluid text-light bg-secondary text-center">
    <div class="row pt-4">
        <div class="col-sm-4">
            <dl>
                <dt>Adress</dt>
                <dd><a href="https://goo.gl/maps/H2AsgZBRB2E2" title="Öppna karta" target="_blank">Nordenskiöldsgatan 13</a></dd>
                <dd>21119 Malmö</dd>
                <dd>Sverige</dd>
            </dl>
        </div>
        <div class="col-sm-4">
            <dl>
                <dt>
                    E-post
                </dt>
                <dd><a href="mailto:team2@connectfour.com" title="Mejla oss!">team2@connectfour.com</a></dd>
                <dd><a href="mailto:team2jobb@connectfour.com" title="Bjuda oss ett jobb!">team2jobb@connectfour.com</a></dd>
            </dl>
        </div>
        <div class="col-sm-4">
            <dl>
                <dt>Telefon</dt>
                <dd><a href="tel:+4612345678" title="Ring oss!">+46 12345678</a>
                <dd><a href="tel:+4687654321" title="Ring oss!">+46 87654321</a>
                </dd>
            </dl>
        </div>
        <div class="col-12 mb-2">
            ${this.socialItems}
        </div>
        <div class="col-12">
            <p class="font-italic">&copy; ConnectFour by <a href="/" title="Team 2 ConnectFour" target="_blank">Team 2 ConnectFour</a></p>
        </div>

    </div>
</footer>